:root {
  --text: #6b6375;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #aa3bff;
  --accent-bg: #aa3bff1a;
  --accent-border: #aa3bff80;
  --highlight-color: #7361e6d9;
  --highlight-fill: #7361e61f;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --bg: #16171d;
    --border: #2e303a;
    --accent: #c084fc;
    --accent-bg: #c084fc26;
    --accent-border: #c084fc80;
    --highlight-color: #a596f5e6;
    --highlight-fill: #a596f526;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  box-sizing: border-box;
}

body {
  margin: 0;
}
